<h1>Courses listing</h1>

<ul>
  <li>Code: CS11</li>
  <li>Name: intro to computer science</li>
  <li>Description: this is an intro to computer science</li>
</ul>

<ul>
  <li>Code: CS12</li>
  <li>Name: intro to computer science</li>
  <li>Description: this is an intro to computer science</li>
</ul>

<ul>
  <li>Code: CS13</li>
  <li>Name: intro to computer science</li>
  <li>Description: this is an intro to computer science</li>
</ul>